@import url('https://fonts.googleapis.com/css?family=Poppins:500,400,600,200&display=swap');
body {
  text-align: center;
  background-color: lightsteelblue;
}
* {
  margin: 0;
}

@keyframes fade {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes zoomLeft{
  from {opacity: 0; left: -150vw;}
  to {opacity: 1; left: 0;}
}

a {
  color: white;
  opacity: 0;
  animation-name: fade;
  animation-delay: 0.3s;
  animation-direction: forwards;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.back {
  position: fixed;
  top: 30px;
  left: 20px;
  z-index: 3;
}

.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  opacity: 0;
  background-color: aliceblue;
  animation-name: fade;
  animation-delay: 0.75s;
  animation-direction: forwards;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  align-content: center;
  vertical-align: middle;
  border-radius: 4.5px;
}

.bigImg {
  position: absolute;
  top: 0;
  left: -5px;
  width: 75%;
  opacity: 0;
  animation-name: fade;
  animation-delay: 0.3s;
  animation-direction: forwards;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}