@import url('https://fonts.googleapis.com/css?family=Poppins:500,400,600,200&display=swap');
body {
  text-align: center;
  background-color: #02010A;
}
* {
  margin: 0;
}

@keyframes fade {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes zoomLeft{
  from {opacity: 0; left: -150vw;}
  to {opacity: 1; left: 0;}
}

.title {
  font-family: 'Poppins';
  text-align: center;
  background-color: #FF3B5F;
  color: white;
  width: 100vw;
  font-size: 1.75em;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  position: sticky;
  box-shadow: rgba(0,0,0,0.5) 0 0 5px;
  opacity: 0;
  animation-name: fade;
  animation-delay: 0.3s;
  animation-direction: forwards;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.tc {
  color: white;
  font-family: "Poppins";
  font-size: 15px;
}
a {
  color: white;
  opacity: 0;
  animation-name: fade;
  animation-delay: 0.3s;
  animation-direction: forwards;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

::placeholder {
  font-family: 'Poppins', sans-serif !important;
  font-weight: 200;
}

.back {
  position: fixed;
  top: 30px;
  left: 20px;
  z-index: 3;
}

.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  opacity: 0;
  animation-name: fade;
  animation-delay: 0.3s;
  animation-direction: forwards;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.bigImg {
  width: 75%;
  max-height: 300px;
  position: relative;
  bottom: 0;
  left: -150vw;
  opacity: 0;
  animation-name: zoomLeft;
  animation-delay: 1.2s;
  animation-direction: forwards;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.sector {
  margin: 10px;
  font-family: "Poppins";
  font-size: 20px;
  color: #FFCC79;
  font-weight: 600;
  opacity: 0;
  animation-name: fade;
  animation-delay: 0.6s;
  animation-direction: forwards;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
input {
  text-align: center;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  width: 80%;
  max-width: 300px;
  opacity: 0;
  animation-name: fade;
  animation-delay: 0.6s;
  animation-direction: forwards;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.continue {
  padding: 10px;
  font-family: "Poppins";
  color: white;
  background-color: #FF3B5F;
  margin: 10px;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: 500;
  transition: 0.3s;
  opacity: 0;
  animation-name: fade;
  animation-delay: 0.5s;
  animation-direction: forwards;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.continue:hover {
  box-shadow: rgba(0,0,0,0.5) 0 0 6px;
  transition: 0.2s;
}